<h1 class="title">Credits</h1>

<div>
Character design: <a href="https://twitter.com/iluvei">@iluvei</a>
</div>
<div>
Reference sheet: <a href="https://twitter.com/iluvei">@iluvei</a>
</div>
<div>
Live 2D Model: <a href="https://twitter.com/ElazuArt">@ElazuArt</a>
</div>
<div>
Live 2D Rigging: <a href="https://twitter.com/Dannayy5">@Dannayy5</a>
</div>
<div>
Kerbal and nuggie Twitch emotes: <a href="https://twitch.tv/sailears">SailEars</a>
</div>
<div>
Biki Twitch emotes: <a href="https://twitter.com/twitchJasiia">@twitchJasiia</a>
</div>
<div>
OBS flame transition: <a href="https://twitch.tv/spvwvky">Spvwvky</a>
</div>
